* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    /* background: #090909;
    background: -webkit-linear-gradient(top right, #090909, #484848);
    background: -moz-linear-gradient(top right, #090909, #484848);
    background: linear-gradient(to bottom left, #090909, #484848); */
    background-color: blanchedalmond;
  height: 100vh;
  color: #dcdcdc;
}
.page-title {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
  /* font-family: "Fuzzy Bubbles", cursive; */
  font-family: 'Indie Flower', cursive;
  font-weight: 400;
  font-size: 55px;
  /* color: whitesmoke; */
  color: black;

}
.container {
  /* margin: 0 50px 25px; */
  margin-left: 50px;
  margin-right: 50px;
  background-color: blanchedalmond;
  position: relative;
}
.wrapper {
  display: flex;
  justify-content: space-around;

  position: relative;
}
.first__player {
  /* background-color: #c0c0c0; */
  width: 400px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.second__player {
  /*background-color: #c0c0c0; */
  width: 400px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;

}
.versus {
  display: inline-block;
  position: absolute;
color: black;

    /* -webkit-text-stroke-width: 0.5px;
   -webkit-text-stroke-color: black; */

  top: 23%;
  left: 43%;
  font-family: "Smooch", cursive;
  font-weight: 700;
  font-size: 140px;
  text-transform: uppercase;
}
.button {
    position: absolute;
    display: inline-block;
    bottom: -40px;
    left: 40%;
    padding: 10px 75px;
    font-family: 'Indie Flower', cursive;
  font-weight: 400;
  font-size: 55px;
  line-height: 48px;
}
